.faq-section {
margin-left: 15%;
margin-right: 15%;
    padding: 20px;
    border-radius: 5px;
}

.container h2 {
    text-align: center;
    color: #c0392b;
    margin-bottom: 30px;
    justify-items: center;
    font-weight: bold;
}

.container h3 {
    color: #333;
    margin-bottom: 10px;
    justify-self: left;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: left;

}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  padding-top: 10px;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}
/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.faq-section {
    padding: 20px;
    border-radius: 5px;
}
.faq-container h2 {
    text-align: center;
    color: #C0392B;
    margin-bottom: 30px;
    justify-items: center;
    font-weight: bold;
}
.faq-container button {
    color: #333;
    margin-bottom: 10px;
    justify-self: left;
    font-weight: bold;
}
.faq-container {
    max-width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: left;
}