
.contMapa {
  margin-top: 10px;
  height: 60vh;
}

#map {
  align-items: center;
  justify-content: center;
  height: 60vh;
  width: 72%;
  margin-left: 0;
  position: relative;
  margin-top: 0;
}

.mapa-titulo img {
  background-color: #9b31ff96;
  color: white;
  text-align: center;

  font-weight: bold;
  width: 72%;
  margin-left: 14%;
  margin-top: 2%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.mapa-eventos {
  background-color: #9341e0;
  color: white;
  text-align: center;
  padding: 13px;
  font-weight: bolder;
  width: 72%;
  margin-left: 14%;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-family: helvetica;
}


.popup-content label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

.popup-content input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.popup-content button {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background: #3cb7e7;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.fakebutton {
  margin-top: 20px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #3cb7e7;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
}

.cerrar {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
  color: #aaa;
}

.cerrar:hover {
  color: #000;
}

.btnPublicacion {
  background: #035397;
  color: white !important;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
}
#descripcion {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}
#tipoPublicacion {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
}


div div #containerCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  margin: 5px;
}